---
---
<div class="row">
  {% if site.enable_project_thumbnails %}
    <div class="col col-sm-2 abbr">
      {% if entry.preview %}
        {% if entry.preview contains '://' %}
          <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
        {% else %}
          {% assign entry_path = entry.preview | prepend: '/assets/img/project_preview/' %}
          {%
            include figure.liquid
            loading="eager"
            path=entry_path
            sizes = "200px"
            class="preview z-depth-1 rounded"
            zoomable=true
            avoid_scaling=true
            alt=entry.preview
          %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  <div id="{{ entry.key }}" class="{% if site.enable_project_thumbnails %}col-sm-8{% else %}col-sm-10{% endif %}">
    <!-- Title -->
    <div class="title">{{ entry.title }}</div>
    
    <!-- Description -->
    <div class="author">
      {{ entry.description }}
    </div>

    <!-- Duration -->
    <div class="periodical">
      {{ entry.duration }}
    </div>

    <!-- Links with blue bordered buttons -->
    <div class="links">
      {% if entry.code %}
        <a href="{{ entry.code }}" class="btn btn-sm btn-outline-primary z-depth-0" role="button" target="_blank">Code</a>
      {% endif %}
      {% if entry.report %}
        <a href="{{ entry.report }}" class="btn btn-sm btn-outline-primary z-depth-0" role="button" target="_blank">Report</a>
      {% endif %}
    </div>
  </div>
</div>